/* GERAL */
body {
    margin: 0;
    padding:0;
    box-sizing: border-box;

    display: grid;
    grid-template-areas: "header header" "main aside";
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 13vh 90vh;

    font-size: 20px;
}


/* ASIDE */
aside {
    grid-area: aside;
    background-color: #003366;
    padding: 8vh 5vw;
    color:white;
}
aside button {
    width: 8vw;
    height: 30px;
    border-radius: 50px;
    border:none;
    background-color: #ffffff;
}
aside button a {
    text-decoration: none;
    color: black
}


/* MAIN */
main {
    grid-area: main;
    padding: 8vh 20vw;
}
main p {
    margin: 0 0 30px 0;
}
main form {
    display:flex;
    flex-direction: column;
}
main form input {
    width: 33vw;
    height: 40px;
    margin: 10px 0px 25px 0px;
    padding-left: 10px;
    border-radius: 5px;
    border: 1px solid rgb(120, 120, 120);
}
#config_senha {
    display:flex;
    justify-content: space-between;
    margin: -15px 0 0 0;
}
main form div a {
    text-decoration: none;
    color: #003366;
}
#mostrar_senha {
    display: flex;
    gap: 5px;
}
main form button {
    width: 33vw;
    height: 46px;
    margin-top: 5px;
    border-radius: 50px;
    padding: 10px;
    border:none;
    background-color: #003366;
    color: white;
}