/* TOPO */
#topo {
    display: flex;
    justify-content: space-between;
    padding: 3vw 3vw 0 3vw;
}

#topo button {
    height:6vh;
    align-self: center;
    justify-self: center;
    padding: 10px 20px;
    border:none;
    border-radius: 20px;
    background-color: #FF9800;
}

#topo div {
    display:flex;
    flex-direction: row;
    gap: 5px;
}

/* FORMS (ADIÇÃO E EDIÇÃO) */
#aulas {
    min-height: 70vh;
    position: relative;
}

#editar {
    display: none;
}

form {
    width: 35vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 2.5vw;
    margin: auto;
    background-color: #EDEDED;
    position: relative;
}

#inserir_aula_form {
    display:none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#editar_aula_form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

form input  {
    width: 30vw;
    padding: 8px;
    border: 1px black solid;
    border-radius: 20px;
}

#inserir_aula_botao, #editar_aula_botao, #salvar_reordenar, #fechar_reordenar {
    padding: 10px;
    border: none;
    border-radius: 20px;
    background-color: #003366;
    color: white;
}

#fechar_add, #fechar_editar {
    position: absolute;
    right: 5px;
    top: 1px;
    border: none;
}


/* DISPLAY MÓDULOS */
#aulas_tudo {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 10vw;
    row-gap: 3vw;
    margin: 3vw;
}
.item {
    display: flex;
    flex-direction: column;
}
.item img {
    height: 6vw;
    width: auto;
    /* evita que a imagem distorça */
    object-fit: contain;
    border: none;
}
.base {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.titulo {
    align-self: center;
}
.abrir_aula_botao {
    border: none;
    border-radius: 20px;
    padding: 10px;
    background-color: #00AEEF;
}

/* SECTION DE REORDENAR */
#reordenar_aula_section {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 35vw;
    display:none;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 2.5vw;
    margin: auto;
    background-color: #EDEDED;
}

#aulas_reordenar {
    display:flex;
    flex-direction: column;
    gap: 10px;
}
.linha{
    width: 30vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.subir, .descer {
    border:none;
    background-color: none;
}

#acoes_reordenar {
    width:30vw;
    display: flex;
    flex-direction: row;
    gap: 5vw;
    justify-content: center;
}