h1 {
    font-size:32px;
    padding: 3vw;
}

/* FORMS DE ENVIO */

form {
    width: 35vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 2.5vw;
    margin: auto;
    background-color: #EDEDED;
}

form input, form textarea  {
    width: 30vw;
    max-width: 30vw;
    min-width: 30vw;
    padding: 8px;
    border: 1px black solid;
    border-radius: 20px;
}

#enviar_ticket_botao {
    width: 10vw;
    padding: 10px;
    border: none;
    border-radius: 20px;
    background-color: #003366;
    color: white;
}

/* TABELA DE TICKETS */

table {
    margin: 3vw;
    width: 94vw;
    border-collapse: collapse;
    table-layout: fixed;
}
th, td {
    word-wrap: break-word;
}
th {
    padding-bottom: 10px;
}
td {
    padding: 10px;
    border: 1px solid black;
}

tr {
    border-bottom: 1px solid black;
}

.linha_status mark {
    display: inline-block;
    padding: 5px;
    border-radius: 10px;
}

.aberto {
    background-color: rgb(224, 90, 90);
}
.finalizado {
    background-color: rgb(89, 190, 77);
}

.topo_id, .linha_id {
    width: 5vw;
    text-align: center;
}
.topo_nome, .linha_nome {
    width: 20vw;
    text-align: center;
}
.topo_email, .linha_email {
    width: 25vw;
    text-align: center;
}
.topo_status, .linha_status {
    width: 8vw;
    text-align: center;
}
.topo_data, .linha_data {
    width: 10vw;
    text-align: center;
}
