/* HEADER */
nav > :last-child {
    padding:12px;
    border-radius: 25px;
    background-color: #003366;
    color:white;
}

/* MAIN */
#introducao {
    background-color:#003366;
    color:white;
}

.texto {
    width:60vw;
    height:65vh;
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    padding: 0 5vh;
}

h1 {
    font-size: 32px;
    font-weight: bold;
    letter-spacing: 1px;
}

.texto a {
    width:15vw;
    padding:12px;
    align-self: center;
    border-radius: 25px;
    background-color: #FF9800;
    color:black;
    text-align: center;
    text-decoration: none;
}
