/* MAIN */
main {
    height: 88vh;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr 3fr 2fr;
    grid-template-rows: 25vh 15vh 15vh 15vh;
    grid-template-areas: ". titulo . . botao" ". infos infos infos ." ". infos infos infos ." ". botoes . . .";
    background-color: #EDEDED;
}

h1 {
    grid-area: titulo;
    align-self: center;
    font-size:32px;
}

#abrir_edicao, #botao_editar {
    grid-area: botao;
}

.info_perfil{
    grid-area: infos;
    display: grid;
    grid-template-columns: 3fr 1fr 3fr;
    grid-template-rows: 15vh 15vh;
    grid-template-areas: "um . tres" "dois . quatro";
}

#card_um {
    grid-area: um;
}
#card_dois {
    grid-area: dois;
}
#card_tres {
    grid-area: tres;
}
#card_quatro {
    grid-area: quatro;
}

.tag_perfil {
    width: 30vw;
    height: 5vh;
    padding:6px;
    border: 1px black solid;
    border-radius: 5px;
    margin-top:2vh;
}

#botoes {
    grid-area: botoes;
    display: flex;
    align-items: center;
    gap: 2vw;
}

button {
    height:6vh;
    align-self: center;
    justify-self: center;
    padding: 10px 20px;
    border:none;
    border-radius: 20px;
    background-color: #FF9800;
}