main {
    padding: 3vw;
}

h1 {
    font-size:32px;
    margin-bottom: 3vw;
}

p {
    font-size: 20px;
    margin-bottom: 20px;
}

ul {
    margin-left: 2vw;
}

li {
    font-size: 20px;
    padding: 5px;
}