/* GERAL */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Inter", sans-serif;
    font-size: 18px;
}

/* HEADER */
header {
    height: 12vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3% 2%;
    background-color: #D9D9D9;
}

nav {
    width: 50vw;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 20px;
}

nav a {
    color: black;
    text-decoration: none;
}

header img {
    height: 5vh;
}

/* MAIN */
main {
    min-height:88vh;
}

/* FOOTER */
footer {
    height: 20vh;
    width:50vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

footer a {
    color: black;
    text-decoration: none;
}

footer img {
    height:6vh;
}